<footer>
    <div class="container">
      <div class="column">
        <h3>Nosotros</h3>
        <ul>
          <li>Conócenos</li>
          <li>Trabaja con nosotros</li>
          <li>Ventas Corporativas</li>
          <li>Memoria de Gestión de Sostenibilidad 20233</li>
        </ul>
      </div>
      <div class="column">
        <h3>Atención al cliente</h3>
        <ul>
          <li>Ver mi boleta electrónica</li>
          <li>Ver lista de productos permitidos</li>
        </ul>
      </div>
      <div class="column">
        <h3>Políticas y condiciones</h3>
        <ul>
          <li>Política de SST</li>
          <li>Política de Sostenibilidad</li>
          <li>Política de privacidad</li>
          <li>Política de Diversidad e Inclusión</li>
        </ul>
      </div>
    </div>
  </footer>
  