<section class="hero">
  <h1>Bienvenido a Cineplanet</h1>
  <p>Disfruta de las mejores películas en la pantalla grande</p>
  <a [routerLink]="['/business/peliculas']" class="cta-button">Ver películas</a>
</section>

<section class="movies">
  <div class="movie">
    <img
      src="https://cdn.cineplanet.com.pe/contentAsset/raw-data/8af6a3ba-8b01-4003-a982-257b0ebde770"
      alt="Película 1"
    />
    <h2>SAW X: El juego del miedo</h2>
    <p>John Kramer (Tobin Bell) está de vuelta</p>
  </div>
  <div class="movie">
    <img
      src="https://cdn.cineplanet.com.pe/contentAsset/raw-data/f0a60665-42d1-4dc8-ad8b-5dd8701a84cb"
      alt="Película 2"
    />
    <h2>Los Indestructibles 4</h2>
    <p>
      Un grupo de mercenarios es contratado para infiltrarse en un país
      Sudamericano y derrocar a su despiadado y corrupto dictador.
    </p>
  </div>
  <div class="movie">
    <img
      src="https://cdn.cineplanet.com.pe/contentAsset/raw-data/2fead7e8-c89b-49b4-9f65-0f74a37d23ee"
      alt="Película 3"
    />
    <h2>Rituales diabólicos</h2>
    <p>
      Un detective al borde de la jubilación junto con un profesor de estudios
      africanos buscan localizar a un asesino en serie.
    </p>
  </div>
</section>
